.mainBlock {
    height: 100vh;
    background-color: #61dafb;
}

.title {
    width: 350px;
    background-color: wheat;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: aquamarine;
}